
header{
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;          
    background: var(--color-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    font-family: var(--font-main);    
}
.logo{
    color: rgb(0, 89, 255);
    padding-left: 10%;
}
nav{
    padding-right: 10%;
    display: flex;
    gap: 18px;
}
nav a{
    color: var(--color-dark);
    text-decoration: none;
}
nav a:hover{
    color:rgb(0, 8, 255) ;
    text-decoration: underline;
}
.hamburger-icon {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
    color: #333;
}
.menu-toggle { 
    display: none; 
    font-size: 2rem;
    cursor: pointer;
    padding-right: 10%;
    color: #333;
}
@media screen and (max-width :768px){
    .hamburger-icon {
        display: block; 
    }
    .menu-toggle:checked ~ nav { display: flex; }
}

